<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="height:45px;padding-top:5px;float:right" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="">
      <a class="navbar-brand" href="#" style="font-size:30px">GitSearch</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="navigation" routerLink='/profile' routerLinkActive='active'>Profile</a></li>
        <li><a class="navigation" routerLink='/repo' routerLinkActive='active'>Repositories</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<router-outlet></router-outlet>